$Fontsize: 13px;
$fontColor: #6c757d;
$fontFamily: "archia";
body {
  display: flex;
}
body * {
  font-family: $fontFamily;
}
.nav_ {
  min-height: 5rem;
  width: 100px;
  .navbar { 
    color: $fontColor;
    .navbar-brand {
      font-size: small;
      span {
        color:blue; 
        font-size: $Fontsize+1;
      }
    }
    .nav-link {
      i {
        color: $fontColor;
        cursor: pointer;
        font-size: $Fontsize + 11; 
      }
      span {
        visibility: hidden;
      }
    }

  }
}
.sch_center {
  margin-left: auto; 
  margin-right: auto; 
  width: 70%;
}
.search {
  color: $fontColor; 
  margin-top:95px;
  text-align: center;
  p {
    font-size: .75rem;
  }
  .search-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 35px rgba(0,0,0,.1);
    padding:19px;
    position: relative;
    width: 100%; 
    height: 4rem;
    input {
      background-color: white;
      border: 0;
      color: $fontColor;
      font-size: 1rem;
      height: 2rem;
      outline: none;
      padding: 1rem 1rem 1rem 1rem;
      width: calc(100% - 4rem);
    }
    .search_button {
      left: 22px;
      position: absolute;
      top: 20px;
      span {
        color: #b9babb; 
        font-size: $Fontsize+9;
      }
    }
  }
}
.hide_search {
  display: inline-flex;
  font-family: $fontFamily;
  margin-top: 25px;
  display: none;
  ul {
    list-style-type: none;
    li {
      color: $fontColor;
      cursor: pointer;
      font-size: 1rem;
      font-family: $fontFamily;
    }
    li:before {
      content: "–"; 
    } 
    span {
      color: #4c75f2;
      font-family: $fontFamily;
      margin-bottom: 10px;
    }
  }
}
#hide {
  float: right;
  margin-right: -25px;
}
.table_body {
  margin-left: 90px;
}
.table {
  margin-top: 40px; 
  th {
    text-align: center;
  }
  td {
    text-align: end;
  }
}
.table-bordered th {
  background-color: rgba(0,0,0,.05);
  color: #6c757d;
  font-family: $fontFamily;
  font-size: $Fontsize + 2;
  text-align: center;
}
$delta_color: ("1":red, "2": green, "3": #6c757d);
#body { 
  td {
    color: $fontColor;
    font-size: $fontColor;
    @each $name, $delta in $delta_color {
      #delta-#{$name} {
        color: $delta;
        font-size: $fontColor -2;
      }
    }
  }
  th, #tested {
    padding-top: 33px;
  }
}
#hide_row {
  display: none;
  padding-top: 33px;
}
th#hide_row {
  padding-top: 33px;
}
footer {
  color: #6c757d;
  display: flex;
  flex-direction: column;
  font-size: $Fontsize;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;
  .name a {
    text-align: center;
    background-color:rgba(0,123,255,.0627451);
    color: blue
  }
  p{
    font-weight: bold;
  }
  .social_icon {
    font-size: 25px;
    color: #6c757d;
    i {
      color:#6c757d;
    }
  }
}
.map_card div{
  border-radius: 10px;
  cursor: pointer;
  font-family: $fontFamily;
  font-size: $fontFamily + 1;
  height: 225px;
  opacity: 1;
  padding: 40px; 
  text-align: center;
   width: 25%;
}
$card-background: ("card1":rgba(255, 7, 58, 0.125), "card2" : rgba(0, 123, 255, 0.125), "card3" : rgba(40, 167, 69, 0.125), "card4" :rgba(108, 117, 125, 0.125));
@each $name, $background in $card-background {
  .map_card_#{$name}.active, .map_card_#{$name}:hover {
    background: $background;
 
  }
}
$card-color: ("card1":red, "card2": blue , "card3": green , "card4":#6c757d);
@each $name, $color in $card-color {
  .map_card_#{$name} {
    color: $color;
    p:first-child {
      font-weight: 600;
    }
  }
}

